<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://threadclear-functions-fsewbzcsd8fuegdj.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c2a02f85-5934-4e69-a8ca-048860bff613/resourceGroups/rg-threadclear-prod/providers/Microsoft.Web/sites/threadclear-functions</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://threadclear-functions-fsewbzcsd8fuegdj.scm.eastus-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>